@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    background-color: black;
    color: white;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typewriter {
  overflow: hidden;
  border-right: 3px solid;
  white-space: nowrap;
  animation: 
    typewriter 2.5s steps(25) 1s 1 normal both,
    blink 1s steps(1) infinite;
}